@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root{
	--mobile: 575px;
}

html, body, * {
	margin: 0;
	padding: 0;
}
body {
	background-color: #F7F6F5;
}
a, a:hover, a:visited, a:active {
	text-decoration: none;
	color: black;
}

header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 34px 0 26px;
	background-color: #FFFFFF;
}

nav {
	display: flex;
	width: 260px;
	justify-content: space-between;
	
	font-weight: 600;
	font-size: 1.1em;
	color: #686868;
}
nav a, nav a:visited {
	color: #686868;
}
nav a:hover {
	color: #30333d;
}
nav a:active {
	color: black;
}
.hero {
	height: 225px;
	width: clamp(200px, 95%, 410px);
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 38px;
	margin-bottom: -8px;
	
	font-family: courier;
	font-size: 0.69em;
}
.hero div {
	height: 15px;
	background-color: #F2EFFC;
	margin-bottom: 5px;
}
.hero h1 {
	text-align: center;
	margin-top: -85px;
	top: 40px;
	color: #473876;
}

.sign-in {
	width: 270px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: #F1EEE9;
	border-radius: 7px;
	font-size: 1em;
	font-weight: 500;
}
.sign-in p:nth-of-type(1) {
	padding-right: 11px;
}
.sign-in p:nth-of-type(2) {
	padding-left: 11px;
}
.seperator-pill {
	width: 2px;
	border-radius: 2px;
	height: 15px;
	background-color: #B4B4B4;
}
.trial-alert {
	font-size: 0.95em;
	font-weight: 450;
	color: #EA8C53;
	font-style: italic;
	margin-bottom: 8px;
}

main {	
	width: calc(100% - 34px);
	max-width: 1000px;
	margin: 52px auto;
	
	color: #171717;
}
main h1 {
	font-size: 2.5em;
}

.color-purple {
	color: #745cf8
}








/* Overview */

#overview {
	display: flex;
	flex-direction: row;
	margin: -10px;
}
#overview > * {
	margin: 10px;
	flex: 1 0 0;
}
#overview .header {
	text-align: right;
}
@media (max-width: 575px) {
	#overview {
		flex-direction: column;
		flex-wrap: wrap;
	}
	#overview .header {
		text-align: left;
	}
}







/* Questions */

#questions {
	display: flex;
	flex-direction: row;
	margin: -10px;
}
#questions > * {
	margin: 10px;
	flex: 1 0 0;
}


#questions .header {
	text-align: right;
	border: 1px solid blue;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
#questions .header  * {
	border: 1px solid purple;
}


#questions .header > div {
	position: absolute;
	align-self: center;
	display: flex;
	left: 50%;
	transform: translate(-50%, 0); 
	font-family: 'courier';
}
#questions .header h1:nth-child(1) {
	/* left '?' */
	transform: rotate(-24deg);
	margin-right: -12px;
	margin-top: 8px;
	color: #8a8aed;
	font-size: 43pt;
}
#questions .header h1:nth-child(2) {
	/* center '?' */
	transform: rotate(0deg);
	color: #6a6aec;
	font-size: 56pt;
}
#questions .header h1:nth-child(3) {
	/* right '?' */
	transform: rotate(9deg);
	margin-left: -3px;
	margin-top: 8px;
	color: #9292f3;
	font-size: 43pt;
}


#questions .header a {
	padding: 10px 24px;
	border-radius: 12px;
	background-color: #d0e6fd;
	color: #6c7f93;
	font-weight: 550;
	font-style: normal;
}
#questions .header a.focus {
	background-color: #3693f6;
	color: #e2edff;
}


#questions .content {
	background-color: #E8E3E0;
	border-radius: 12px;
	padding: 35px 26px 35px;
}
@media (max-width: 700px) {
	#questions {
		flex-direction: column;
		flex-wrap: wrap;
	}
	#questions .header {
		text-align: left;
	}
}









#overview h1 {
	font-size: 2.5em;
	font-weight: 700;
}
#overview .content h2 {
	font-size: 1.32em;
	line-height: 1.15em;
	margin-bottom: 4px;
}
#overview .content p {
	font-weight: 450;
	color: color(srgb 0.09 0.09 0.09 / 0.85);
	color: #171717d8;
	margin-bottom: 13px;
}
#overview p a {
	color: #256cc4ff;
}
#overview p a:hover {
	color: #4395faff;
}
.column-1 {
	text-align: right;
	font-style: italic;
	margin-right: 14px;
}
.column-2 {
	margin-left: 14px;
	padding-top: 4px;
}
.column-2 div {
	margin-bottom: 16px;
}

.assorted-concerns {
	display: flex;
	width: calc(100vw - 14px);
	max-width: 1200px;
	//height: 500px;
	margin-top: 58px;
}
.assorted-concerns .column-2 {
	background-color: #E8E3E0;
	border-radius: 12px;
	padding: 35px 26px 35px;
}
.assorted-concerns .column-1 {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.assorted-concerns .column-1 h1 {
	font-weight: 700;
}
.assorted-concerns .column-2 h2 {
	margin-bottom: 10px;
}
.assorted-concerns .column-2 h3 {
	margin-top: 30px;
	margin-bottom: 10px;
}
.assorted-concerns .column-2 p {
	margin-bottom: 8px;
}
.faq-cloud {
	position: relative;
	margin-top: 20px;
	width: 400px;
}
.assorted-concerns .faq-cloud h3 {
	position: absolute;
	display: inline-block;
	padding: 10px 24px;
	background-color: #d0e6fd;
	border-radius: 12px;
	color: #6c7f93;
	font-weight: 550;
	font-style: normal;
}
#faq-catch {
	position: relative;
	text-align: center;
	background-color: #3693f6;
	color: #e2edff;
}
#faq-privacy {
	top: 60px;
	left: 0px;
}
#faq-support {
	top: 87px;
	left: 137px;
}
#faq-pricing {
	top: 68px;
	right: 8px;
}
#faq-starting {
	top: 147px;
	right: 0px;
}
#faq-security {
	top: 157px;
	left: 50px;
}
#faq-forme {
	top: 220px;
	right: 80px;
}

footer {
	height: 300px;
}